---
---
.profile-card {
    display: flex;
    // height: 250px;
    // justify-content: center;
    // align-items: center;
}

.profile-image-container {
    // min-width: 200px;
    // max-width: 250px;
    min-width: 200px;
    max-width: 200px;
    padding: 5px;
    margin-right: 20px;
}

.profile-image-container > img {
    border-radius: 3px;
    // vertical-align: middle;
}

.profile-desc-text {
    //word-wrap: break-word;
    text-align: justify;
    max-width: 600px;
}

.profile-contacts {
    // line-height: 0;
    margin-top: 15px;
    margin-left: 30px;
}

.profile-contacts-item {
    margin-bottom: 5px;
    display: block;
    color: black;
    white-space: nowrap;
}

.profile-contacts-item:visited {
    color: black;
}

.profile-contacts-item:hover {
    color: #3498db;
    text-decoration: none;
}

.profile-contacts-item a:hover {
    // color: blue;
}
