---
---
@import "minima";

.project-page .content-block {
    margin: 0 auto;
    max-width: 1200px;
}


.project-page .project-links {
    margin-top: 50px;
    text-align: center;
}

.project-page-title {
    text-align: center;
    font-size: 2.5em;
}

.project-page-title.long-title {
    font-size: 2em;
}

.project-page .conference-name {
    text-align: center;
    font-size: 1.3em;
}

.project-page .subtitle {
    font-size: 1.5em;
}

.project-page .authors-list {
    margin-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

.project-page .authors-list li:not(:first-child) {
    margin-left: 2em;
}

.project-page .authors-list a,
.project-page .common-orgs a {
    text-decoration: none;
    color: black;
    padding: 5px 0;
}

.project-page .authors-list a:hover,
.project-page .common-orgs a:hover {
    // transition: 0.1s;
    color: var(--dark-color);
    border-bottom: 2px solid var(--dark-color);
}

.project-page .authors-list sup,
.project-page .common-org-name sup {
    font-size: 12pt;
}

.project-page .common-orgs {
    text-align: center;
    font-size: 1.25em;
}

.common-orgs .common-org-name:not(:first-of-type) {
    margin-left: 30px;
}


.project-page .logos {
    text-align: center;
    margin-bottom: 10px;
}


.project-page .logo {
    height: 70px;
}

.project-page .logo:not(:first-of-type) {
    margin-left: 70px;
}

@include media-query($on-palm) {
    .project-page .logo:not(:first-of-type) {
        margin-left: 0;
        margin-top: 20px;
    }
}

.project-page .abstract {
    // margin-top: 40px;
    text-align: justify;
}

.project-page .content-block-wrapper.abstract {
    background-color: var(--light-grey-blue);
    // color: white;
    box-shadow: inset 0 0 1px 0px var(--very-dark-color);
}

.project-page .content-block-wrapper {
    padding: 30px 10px;
}

.project-page .content-block .img-container {
    text-align: center;
}

.project-page .img-container .caption {
    margin-top: 15px;
}

.project-page .content-block {
    text-align: justify;
}

// .project-page .content-block .img-container img {
//     max-width: 700px;
// }

.bibtex pre {
    // margin: 0 auto;
    // max-width: 1200px;
    // background-color: var(--peter-river-transparent);
    background-color: var(--light-grey-blue);
    // box-shadow: inset 0 0 1px 0px var(--very-dark-color);
    padding: 10px;
}


.project-page .teaser {
    margin-top: 50px;
    text-align: center;
}

.project-page .teaser p {
    text-align: left;
}

.section-title {
    margin-top: 50px;
    font-size: 20pt;
    text-align: center;
}

.project-page .section .hr {
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--light-grey);
}

.project-page .img-container {
    margin-bottom: 15px;
}
