<div class="project-links">
    <a class="project-link" href="{{page.project.links.arxiv}}" target="_blank">
        <i class="ai fa-fw fa-lg ai-arxiv"></i>
        Paper
    </a>
    <a class="project-link" href="{{page.project.links.github}}" target="_blank">
        <i class="fab fa-fw fa-lg fa-github"></i>
        Code
    </a>

    {%- if page.project.links.openreview -%}
    <a class="project-link" href="{{page.project.links.openreview}}" target="_blank">
        <i class="far fa-fw fa-lg fa-file"></i>
        OpenReview
    </a>
    {%- endif -%}
</div>
