<div class="project-links">
    {% if page.links.arxiv %}
    <a class="project-link" href="{{page.links.arxiv}}" target="_blank">
        <i class="ai fa-fw fa-lg ai-arxiv"></i>
        Arxiv
    </a>
    {% endif %}

    {% if page.links.pdf %}
    <a class="project-link" href="{{page.links.pdf}}" target="_blank">
        <i class="fas fa-fw fa-lg fa-file-pdf"></i>
        Paper
    </a>
    {% endif %}

    {% if page.links.arxiv_inactive %}
    <span class="project-link inactive" href="{{page.links.arxiv}}">
        <i class="ai fa-fw fa-lg ai-arxiv"></i>
        Arxiv (soon)
    </span>
    {% endif %}

    {% if page.links.github %}
    <a class="project-link" href="{{page.links.github}}" target="_blank">
        <i class="fab fa-fw fa-lg fa-github"></i>
        Code
    </a>
    {% endif %}

    {% if page.links.data %}
    <a class="project-link" href="{{page.links.data}}" target="_blank">
        <i class="fas fa-images"></i>
        Data
    </a>
    {% endif %}

    {% if page.links.github_soon %}
    <span class="project-link inactive">
        <i class="fab fa-fw fa-lg fa-github"></i>
        Code (soon)
    </span>
    {% endif %}

    {% if page.links.arxiv_soon %}
    <span class="project-link inactive">
        <i class="ai fa-fw fa-lg ai-arxiv"></i>
        Arxiv (soon)
    </span>
    {% endif %}

    {% if page.links.data_soon %}
    <span class="project-link inactive">
        <i class="fas fa-images"></i>
        Data (soon)
    </span>
    {% endif %}

    {% if page.links.supp %}
    <a class="project-link" href="{{page.links.supp}}" target="_blank">
        <i class="fas fa-file-video"></i>
        &nbsp;Supplementary
    </a>
    {% endif %}

    {%- if page.links.openreview -%}
    <a class="project-link" href="{{page.links.openreview}}" target="_blank">
        <i class="far fa-fw fa-lg fa-file"></i>
        OpenReview
    </a>
    {%- endif -%}

    {%- if page.links.custom -%}
    <a class="project-link" href="{{page.links.custom.href}}" target="_blank">
        <i class="fas fa-fw fa-lg fa-link"></i>
        {{page.links.custom.text}}
    </a>
    {%- endif -%}
</div>
