{%- for section in page.sections -%}
<div class="content-block-wrapper">
<div class="content-block section">

{% if forloop.index0 > 0 %}
<hr class="hr"/>
{% endif %}

<h2 class="section-title">{{section.title}}</h2>
<div class="section-text">
    {%- for paragraph in section.paragraphs -%}
        {% case paragraph.type %}
            {% when "text" %}
            <p>{{paragraph.content}}</p>

            {% when "image" %}
            <div class="img-container">
                <img src="{{paragraph.url}}" style="max-width: {{paragraph.max_width}}px"/>
                {% if paragraph.caption %}
                <p class="caption">{{paragraph.caption}}</p>
                {% endif %}
            </div>

            {% when "images" %}
            <div class="img-container">
                {% for url in paragraph.urls %}
                <img src="{{url}}" style="max-width: {{paragraph.max_width}}px"/>
                {% endfor %}
                {% if paragraph.caption %}
                <p class="caption">{{paragraph.caption}}</p>
                {% endif %}
            </div>

            {% when "video" %}
            <div class="img-container">
                <!-- {{ paragraph.host | default: ""}} -->
                <div style="text-align: center;">
                    <video width={{paragraph.width}} id="teaser-video" style="border: 1px solid black; border-radius: 1px;" preload="auto" src="{{paragraph.host}}{{paragraph.url}}" type="video/mp4" controls loop></video>
                </div>
                <!-- <img src="{{paragraph.url}}" style="max-width: {{paragraph.max_width}}px"/> -->
                {% if paragraph.caption %}
                <p class="caption">{{paragraph.caption}}</p>
                {% endif %}
            </div>

            {% when "videos" %}
            <div class="img-container">
                {% for url in paragraph.urls %}
                <video width={{paragraph.video_width}} id="teaser-video" style="border: 1px solid black; border-radius: 1px;" preload="auto" src="{{paragraph.host}}{{url}}" type="video/mp4" controls loop></video>
                {% endfor %}
                {% if paragraph.caption %}
                <p class="caption">{{paragraph.caption}}</p>
                {% endif %}
            </div>

            {% when "table" %}
            <div class="table-container">
                <p>{{paragraph.content}}</p>
            </div>

            {% when "custom_include" %}
            <div class="custom-include">
                {% include {{ paragraph.file }} %}
            </div>
        {%- endcase -%}
    {%- endfor -%}
</div>
</div>
</div>
{%- endfor -%}