{% if page.title.size > 50 %}
    {% assign long_title_class = "long-title" %}
{% else %}
    {% assign long_title_class = "" %}
{% endif %}
<h1 class="project-page-title {{long_title_class}}">{{page.title}}</h1>

{% if page.conference %}
<h5 class="conference-name">{{page.conference}}</h5>
{% endif %}

<ol class="authors-list">
{%- for author in page.authors -%}
    <li class="author-link-container">
        {%- if author.link -%}
        <a class="author-link" href="{{author.link}}" target="_blank">{{author.name}}</a>
        {%- else -%}
        {{author.name}}
        {%- endif -%}
        {%- for org_index in author.affiliations -%}
        <sup>{{org_index}}{%- if forloop.last != true -%},{%- endif -%}</sup>
        {%- endfor -%}
    </li>
{%- endfor -%}
</ol>

{%- if page.common_organizations -%}
<h4 class="common-orgs">
{%- for org in page.common_organizations -%}
<span class="common-org-name">
{% if page.common_organizations.size > 1 %}
<sup>{{forloop.index}}</sup>
{%- endif -%}
<a target="_blank" href="{{org.link}}">{{org.name}}</a>
</span>
{%- endfor -%}
</h4>
{%- endif -%}

<div class="logos">
{%- for org in page.common_organizations -%}
<img class="logo" src="{{org.logo}}" alt="{{org.name}}" style="height: {{org.logo_height | default: 70}}px;">
{%- endfor -%}
</div>


{%- if page.teaser -%}
<div class="teaser">
    <div class="teaser-img-wrapper">
        {% case page.teaser.type %}
        {% when "image" %}
        <img src="{{page.teaser.img_url}}" alt="{{page.teaser.caption}}">
        {% when "custom" %}
        {{ page.teaser.content }}
        {% endcase %}
    </div>
    <p>{{page.teaser.caption}}</p>
</div>
{%- endif -%}