---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css";
@import "https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css";
@import "/assets/css/profile-card.css";
@import "/assets/css/projects-list.css";
@import "/assets/css/code-projects.css";


:root {
    --dark-color: #34495e;
    --very-dark-color: #2c3e50;
    --peter-river: #3498db;
    --peter-river-transparent: rgba(52, 152, 219, 0.12);
    --light-grey: #ecf0f1;
    --light-grey-blue: #f5f6fa;
    --silver: #bdc3c7;
    --asbestos: #7f8c8d;
    --splide-sea-green: #20b2aa;
}

.footer-text {
    color: #828282;
    margin-bottom: 0;
    text-align: center;
}

.site-footer hr {
    margin: 10px auto;
    border: 1px solid var(--light-grey);
    max-width: 250px;
}