---
layout: default
---
<main class="page-content" aria-label="Content">
<div class="wrapper home">
  <div class="profile-card">
      <div class="profile-image-container">
          <img src="{{ site.profile.image_url }}" alt="Ivan Skorokhodov" class="profile-image">
      </div>
      <div class="profile-desc">
        <h1>Ivan Skorokhodov</h1>
        <div class="profile-desc-text">
            <p>
                I am a Research Scientist at <a href="https://research.snap.com/" target="_blank">Snap Research</a> (<a href="https://research.snap.com/team/category/creative-vision.html" target="_blank">Creative Vision team</a>), working on image/video/3D generative models.
                I obtained my PhD degree from KAUST in March 2023, where I was a part of <a href="https://cemse.kaust.edu.sa/vcc" target="_blank">Visual Computing Center</a>, supervised by <a href="http://peterwonka.net" target="_blank">prof. Peter Wonka</a> and <a href="https://www.mohamed-elhoseiny.com" target="_blank">prof. Mohamed Elhoseiny</a>.
                Before that, I was a deep learning researcher at <a href="https://deeppavlov.ai" target="_blank">MIPT</a> for 2 years — first, working on NLP and then, on loss landscape analysis.
                Before MIPT, I was a software engineer at <a href="https://yandex.com/company/" target="_blank">Yandex</a> for 1.5 years.
                <!-- Currently, I am supposed to join <a href="https://research.snap.com/team/category/creative-vision" target="_blank">Snap Research</a> in Santa Monica, CA as a Research Scientist. -->
                <!-- I also like <a href="https://www.rust-lang.org" target="_blank">Rust programming language</a> and <a href="https://github.com/universome/rtrs" target="_blank">computer graphics</a>. -->
            </p>
            <!-- <p>Aliquam efficitur nisi lacus, vitae semper erat tincidunt nec. Cras nec nisl vel ex consectetur volutpat id sit amet ligula. Phasellus et porta nunc. Nulla et odio non enim feugiat tempus. Fusce est enim, dapibus facilisis lacinia at, suscipit eget nibh. Mauris auctor ex sapien, vitae elementum tortor aliquet a. Sed placerat sollicitudin urna eu dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p> -->
        </div>
      </div>
      <div class="profile-contacts">
        <a class="profile-contacts-item" href="mailto:iskorokhodov@gmail.com">
          <i class="far fa-fw fa-envelope"></i>
          iskorokhodov@gmail.com
        </a>
        <a class="profile-contacts-item" href="https://github.com/universome">
          <i class="fab fa-fw fa-github"></i>
          @universome
        </a>
        <a class="profile-contacts-item" href="https://t.me/universome">
          <i class="fab fa-fw fa-telegram"></i>
          @universome
        </a>
        <a class="profile-contacts-item" href="https://twitter.com/isskoro">
          <i class="fab fa-fw fa-twitter"></i>
          @isskoro
        </a>
        <a class="profile-contacts-item" href="https://scholar.google.com/citations?user=21lY5uIAAAAJ">
          <i class="ai fa-fw ai-google-scholar-square"></i>
          Ivan Skorokhodov
        </a>
        <!-- <a class="profile-contacts-item" href="https://www.linkedin.com/in/ivan-skorokhodov/">
          <i class="fab fa-fw fa-linkedin"></i>
          @universome
        </a> -->
        <a class="profile-contacts-item" href="/assets/ivan-skorokhodov-cv.pdf">
          <i class="fas fa-fw fa-file-pdf"></i>
          <!-- <i class="ai ai-cv"></i> -->
          CV
        </a>
      </div>
  </div>
</div>

{% include projects-list.html %}
{% include code-projects.html %}

</main>

{%- include footer.html -%}
