---
layout: default
---
<main class="page-content" aria-label="Content">
<div class="wrapper home">
  <div class="profile-card">
      <div class="profile-image-container">
          <img src="{{ site.profile.image_url }}" alt="Ivan Skorokhodov" class="profile-image">
      </div>
      <div class="profile-desc">
        <h1>Ivan Skorokhodov</h1>
        <div class="profile-desc-text">
            <p>
                I am a CS PhD student at <a href="https://cemse.kaust.edu.sa/vcc" target="_blank">Visual Computing Center @ KAUST University</a> supervised by <a href="http://www.mohamed-elhoseiny.com" target="_blank">prof. Mohamed Elhoseiny</a>.
                I do deep learning and my research interests include generative models and hypernetworks.
                Besides, I am also hyped by <a href="https://dellaert.github.io/NeRF/" target="_blank">NeRF</a> and have a small weakness for adversarial robustness.
                Before that, I was a DL researcher at <a href="https://deeppavlov.ai" target="_blank">MIPT</a>, doing NLP things.
                And before even that, I was a software engineer at <a href="https://yandex.com/company/" target="_blank">Yandex</a>.
                <!-- I also like <a href="https://www.rust-lang.org" target="_blank">Rust programming language</a> and <a href="https://github.com/universome/rtrs" target="_blank">computer graphics</a>. -->
            </p>
            <!-- <p>Aliquam efficitur nisi lacus, vitae semper erat tincidunt nec. Cras nec nisl vel ex consectetur volutpat id sit amet ligula. Phasellus et porta nunc. Nulla et odio non enim feugiat tempus. Fusce est enim, dapibus facilisis lacinia at, suscipit eget nibh. Mauris auctor ex sapien, vitae elementum tortor aliquet a. Sed placerat sollicitudin urna eu dictum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p> -->
        </div>
      </div>
      <div class="profile-contacts">
        <a class="profile-contacts-item" href="mailto:iskorokhodov@gmail.com">
          <i class="far fa-fw fa-envelope"></i>
          iskorokhodov@gmail.com
        </a>
        <a class="profile-contacts-item" href="https://github.com/universome">
          <i class="fab fa-fw fa-github"></i>
          @universome
        </a>
        <a class="profile-contacts-item" href="https://t.me/universome">
          <i class="fab fa-fw fa-telegram"></i>
          @universome
        </a>
        <a class="profile-contacts-item" href="https://twitter.com/ivanskorokhodov">
          <i class="fab fa-fw fa-twitter"></i>
          @ivanskorokhodov
        </a>
        <a class="profile-contacts-item" href="https://scholar.google.com/citations?user=21lY5uIAAAAJ">
          <i class="ai fa-fw ai-google-scholar-square"></i>
          Ivan Skorokhodov
        </a>
        <!-- <a class="profile-contacts-item" href="https://www.linkedin.com/in/ivan-skorokhodov/">
          <i class="fab fa-fw fa-linkedin"></i>
          @universome
        </a> -->
        <a class="profile-contacts-item" href="/assets/cv.pdf">
          <i class="fas fa-fw fa-file-pdf"></i>
          <!-- <i class="ai ai-cv"></i> -->
          CV
        </a>
      </div>
  </div>
</div>

{% include projects-list.html %}
{% include code-projects.html %}

</main>

{%- include footer.html -%}
