---
layout: default
---

<link rel="stylesheet" href="/assets/css/project-page.css">

<div class="project-page page-content" aria-label="Content">
    <!-- <div class="wrapper"> -->
        <div class="content-block-wrapper">
            <div class="content-block">{% include project-page/title.html %}</div>
        </div>
        {% if page.informal_summary %}
        <div class="content-block-wrapper abstract">
            <div class="content-block">
                <div class="abstract">
                    <h2 class="subtitle">Abstract</h2>
                    {%- for paragraph in page.informal_summary -%}
                        <p>{{paragraph}}</p>
                    {%- endfor -%}
                </div>
                {% include project-page/links.html %}
            </div>
        </div>
        {% endif %}

        {% include project-page/sections.html %}

        {% if page.bibtex %}
        <div class="content-block-wrapper">
            <div class="content-block">{% include project-page/bibtex.html %}</div>
        </div>
        {% endif %}
    <!-- </div> -->
</div>

{%- include project-page/footer.html -%}
